
#login .authent {
  display: none;
  background: #35394a;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #35394a), color-stop(100%, #1f222e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #35394a 0%, #1f222e 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
  /* W3C */

  /* IE6-9 fallback on horizontal gradient */
  position: absolute;
  left: 0;
  right: 90px;
  margin: auto;
  width: 100px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  padding: 20px 70px;
  top: 200px;
  bottom: 0;
  height: 70px;
  opacity: 0;
}
#login .authent p {
  text-align: center;
  color: white;
}
#login .success {
  display: none;
  color: #d5d8e2;
}
#login .success p {
  font-size: 14px;
}
#login p {
  color: #5B5E6F;
  font-size: 10px;
  text-align: left;
}
#login .testtwo {
  left: 40% !important;
}
#login .test {
  box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
  pointer-events: none;
  -webkit-transform:translate(-50%,-50%)  rotateX(70deg) scale(0.8) !important;
  transform:translate(-50%,-60%)  rotateX(70deg) scale(0.8) !important;
  opacity: .6 !important;
  -webkit-filter: blur(1px);
  filter: blur(1px);
}
#login .login {
  opacity: 1;
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.25, 0.265, 0.85);
  -webkit-transition-property: -webkit-transform,opacity,box-shadow,top,left;
  transition-property: transform,opacity,box-shadow,top,left;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transform-origin: 161px 100%;
  -ms-transform-origin: 161px 100%;
  transform-origin: 161px 100%;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  width: 240px;
  border-top: 2px solid #D8312A;
  position: absolute;
  margin: auto;
  background: #35394a;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #35394a), color-stop(100%, #1f222e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, #35394a 0%, #1f222e 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(45deg, #35394a 0%, #1f222e 100%);
  /* W3C */
  /* IE6-9 fallback on horizontal gradient */
}
#login .login .validation {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 9px;
  opacity: 0;
}
#login .login .disclaimer {
  position: absolute;
  bottom: 20px;
  left: 35px;
  width: 250px;
}
#login .login_title {
  color: #afb1be;
  height: 80px;
  text-align: left;
  font-size: 16px;
}
#login .login_fields {
  height: 208px;
  position: absolute;
  left: 0;
}
#login .login_fields .icon {
  position: absolute;
  z-index: 1;
  left: 36px;
  top: 11px;
  opacity: .5;
}
#login .login_fields input[type='password'] {
  color: #fff !important;
}
#login .login_fields input[type='text'], #login .login_fields input[type='password'] {
  color: #afb1be;
  width: 190px;
  margin-top: -2px;
  background: #32364a;
  left: 0;
  padding: 10px 65px;
  border-top: 2px solid #393d52;
  border-bottom: 2px solid #393d52;
  border-right: none;
  border-left: none;
  outline: none;
  font-family: 'Gudea', sans-serif;
  box-shadow: none;
}
#login .login_fields__user, #login .login_fields__password {
  position: relative;
}
#login .login_fields__submit {
  position: relative;
  width: 80%;
  right: 0;
  margin: 30px auto;
  padding-bottom 40px
}
#login .login_fields__submit .forgot {
  float: right;
  font-size: 10px;
  margin-top: 11px;
  text-decoration: underline;
}
#login .login_fields__submit .forgot a {
  color: #606479;
}
#login .login_fields__submit input {
  border-radius: 50px;
  background: transparent;
  padding: 10px 50px;
  border: 2px solid #DC6180;
  color: #DC6180;
  text-transform: uppercase;
  font-size: 11px;
  -webkit-transition-property: background,color;
  transition-property: background,color;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}
#login .login_fields__submit input:focus {
  box-shadow: none;
  outline: none;
}
#login .login_fields__submit input:hover {
  color: white;
  background: #DC6180;
  cursor: pointer;
  -webkit-transition-property: background,color;
  transition-property: background,color;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}

/* Color Schemes */
.love {
  position: absolute;
  right: 20px;
  bottom: 0px;
  font-size: 11px;
  font-weight: normal;
}
.love p {
  color: white;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}
.love a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}
.love img {
  position: relative;
  top: 3px;
  margin: 0px 4px;
  width: 10px;
}

.brand {
  position: absolute;
  left: 20px;
  bottom: 14px;
}
.brand img {
  width: 30px;
}
