//app头部大小
$top-h=84
//侧边菜单宽度
$app-left-w=0
//过滤栏高度
$app-filter-h=56
//
$border-color=#d7dde4

content(isHeight = true)
  if isHeight
    padding-top $top-h+$app-filter-h;
  else
    padding-top $top-h;
