$font-lg=16px
$font-md=14px
$font-sm=12px

//color
$success=#19be6b
$warning=#ff9900
$info=#2d8cf0
$error=#ed3f14
$title=#1c2438
$content=#495060
$subCor=#80848f
$disabled=#bbbec4
$border=#dddee1
$divider=#e9eaec
$background=#f8f8f9

// border-radius
$border-radius=4px


